<h1>Upload Emails</h1>

<form action="/emails" method="post" enctype="multipart/form-data">
  <label for="file">Choose an email</label>
  <input type="file" name="emails[]" multiple/>
  <input type="submit" value="Submit"/>
</form>
